/* css reset */
/* 嵌入样式 */
*{
    margin:0;
    padding:0;
    /* outline: 1px solid green; */
}
/* css4变量 */
:root{
    --weui-FG-1: rgba(255,255,255,0.5);
    --weui-BG-0: #111;
    --weui-BG-1: #1e1e1e;
}
body,html{
    height:100%;
}
body{
    /* 手机网页  apple-system */
    /* css 继承 */
    font-family:-apple-system-font,sans-serif;
    background-color:var(--weui-BG-0);
    color: rgba(255,255,255,0.8);
}
.page{
    position: absolute; /* 格式化上下文  绝对定位，脱离了文档流*/
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow-y: auto; /*内部滚动*/
    -webkit-overflow-scrolling: touch; /*让我们的滚动如丝般顺滑*/
}
/* .page__hd{
    height: 200vh; /*相对viewport单位，视窗
} */
.page__hd{
    padding: 40px;
}
.page__title{
    text-align: left;
    font-size: 20px;
    font-weight: 400;
}
.page__desc{
    margin-top: 4px;
    color: var(--weui-FG-1);
    text-align: left;
    font-size: 14px;
}
.page__bd_spacing{
    padding:0 16px;

}
.page__ft{
    padding-top: 40px;
    padding-bottom: 10px;
    text-align: center;
}
.page__ft img{
    height: 19px;
    filter: invert(100) hue-rotate(170deg);
}
/* css 格式上下文的概念 
flex 可以解决移动端大部分布局的需求  */
.weui-flex{
    /* 解决兼容性问题
        flex 实验室阶段 W3C
        Chrome 先支持  -webkit-flex
        -webkit 前缀
    */
    display: -webkit-box;
    display: -ms-flex;
    display: -webkit-flex;
    display: flex;
}
.weui-flex__item{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.weui-flex__item .placeholder{
    text-align: center;
    margin: 5px;
    padding:0 10px;
    font-size: 10px;
    background-color: var(--weui-BG-1);
    height: 2.3rem;  /*相对于自身字体大小*/
    line-height: 2.3rem;
    color: var(--weui-FG-1);
}