.lvpai-home {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
    --swiper-theme-color: #007aff;
    --swiper-navigation-size: 44px;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    position: relative;
}
.lvpai-home .header {
    display: flex;
    align-items: center;
    position: fixed;
    margin: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    height: 44px;
    padding: 0 0 0 12px;
    background: hsla(0,0%,100%,0);
    padding-top: 0px;
}

.header-back {
    padding: 0;
    width: 24px;
    height: 24px;
    margin: 10px 0;
    background: url(https://pages.c-ctrip.com/you/livestream/tripshoot_forward%20_black@3x.png) no-repeat 50%;
    background-size: 24px;
}

.hometitle {
    margin: 0;
    padding: 0;
    font-size: 15px;
    color: #222;
}

.hometitle span {
    display: inline-block;
}

.hometitle .ico-arrow {
    font-style: normal;
    width: 16px;
    height: 16px;
    overflow: hidden;
    display: inline-block;
    background: url(https://pages.c-ctrip.com/you/livestream/lvpai_home_switcharr_v1.png) no-repeat 50%;
    background-size: 16px;
    vertical-align: -2px;
    margin-left: 4px;
    margin-right: 16px;
}

.searchline {
    margin: 0;
    -webkit-flex: 1;
    -webkit-box-flex: 1;
    height: 32px;
    border-radius: 32px;
    line-height: 32px;
    background: #f4f4f4;
    box-shadow: none;
    padding: 0 6px;
    color: #999;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.searchline .ico-search {
    font-style: normal;
    display: inline-block;
    width: 12px;
    height: 12px;
    overflow: hidden;
    background: url(https://pages.c-ctrip.com/you/livestream/tripshoot_search@3x.png) no-repeat 50%;
    background-size: 12px;
    margin: 0 8px 0 6px;
    vertical-align: -1px;
}

.header-user {
    margin: 0;
    width: 33px;
    height: 33px;
    padding: 5px 1px 6px;
    margin-left: 11px;
    display: flex;
    align-items: center;
}

.header-user img {
    padding: 0;
    vertical-align: top;
    width: 21px;
    height: 21px;
    border-radius: 50%;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    display: block;
}

.lvpai-bottom-issue {
    margin: 0;
    padding: 0;
    width: 85px;
    height: 90px;
    position: fixed;
    z-index: 11;
    left: 50%;
    margin-left: -42px;
    background: url(https://pages.c-ctrip.com/you/livestream/lvpai_publish_new_btn.png) no-repeat;
    background-size: 85px 90px;
    bottom: 3px;
}

.main-wrap {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    box-sizing: border-box;
    position: relative;
    padding-top: 44px;
}

.boxwrap_v1 {
    margin: 0;
    padding: 0;
    position: absolute;
    width: 3.75rem;
    overflow: hidden;
}

.bgbox_v1 img {
    border: 0;
    margin: 0;
    padding: 0;
    vertical-align: top;
    width: 100%;
}

.waterfall_wrap {
    margin: 0;
    padding: 0;
    overflow: hidden;
    min-height: 100%;
}

.water-title {
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
    visibility: visible;
}

.water-title .water-tab {
    visibility: visible;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    height: 60px;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

.water-tab .sintab {
    visibility: visible;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    font-size: 16px;
    min-width: 70px;
    height: 24px;
    line-height: 20px;
    padding-top: 20px;
    color: #222;
    text-align: center;
} 

.sintab span {
    visibility: visible;
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    color: #222;
    text-align: center;
}

.current span:after {
    content: "";
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: #2fcfbb;
    position: absolute;
    left: 0;
    bottom: -7px;
}

/* 加载中 */
.lp_loading {
    margin: 0;
    color: #666;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    padding: 10px 0 15px;
    background: #f4f8fb;
    background-color: #fff;
}

.lp_loading p {
    color: #666;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    margin: 0;
    padding: 0;
    display: inline-block;
    padding-left: 22px;
    position: relative;
}

.lp_loading p:before {
    content: "";
    width: 16px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    background: url(https://pages.c-ctrip.com/you/livestream/lvpai_loading.png?v=20190422_19_14);
    background-size: 16px;
    animation: loading 1.58s linear infinite;
}

.tabfixed {
    margin: 0;
    padding: 0;
    width: 100%;
    min-width: 100%;
    background: #fff;
    position: fixed;
    left: 0;
    z-index: 2;
    top: 44px;
    visibility: hidden;
}

.tabfixed .water-tab {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    padding-bottom: 10px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 50px;
}

.tabfixed .water-tab .sintab {
    white-space: nowrap;
    margin: 0;
    padding: 0;
    flex-shrink: 0;
    font-size: 16px;
    min-width: 70px;
    height: 24px;
    line-height: 20px;
    color: #222;
    text-align: center;
    padding-top: 14px;
}

.tabfixed .water-tab .sintab span {
    white-space: nowrap;
    font-size: 16px;
    line-height: 20px;
    color: #222;
    text-align: center;
}


